---
BasedOnStyle: Google
IndentWidth: 3
Language: Cpp
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ColumnLimit: 80
AccessModifierOffset: -3
KeepEmptyLinesAtTheStartOfBlocks: true
